.nav {
  border-bottom: 1px solid #ccc;
  height: 30px;
}

.nav__list {
  display: flex;
  gap: 30px;

  height: 100%;
  align-items: center;

  list-style: none;
}

.list__option {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.list__option:hover {
  color: rgb(0, 69, 126);
}
